.c {
  height: 100vh;
  position: relative;
}
.c-bg {
  width: 20px;
  height: 100%;
  background-color: #59b256;
  position: absolute;
}

.c-wrapper {
  padding: 50px;
  display: flex;
}

.c-left {
  flex: 1;
}
.c-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.c-title {
  font-size: 60px;
  width: 80%;
}

.c-info-item {
  display: flex;
  align-items: center;
  margin: 15px 0px;
  font-weight: 300;
  width: 35%;
}
.c-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.c-desc {
  font-weight: 200;
}

form {
  margin-top: 20%;
  width: 100%;
}

input {
  width: 50%;
  height: 50px;
  border: none;
  border-bottom: 1px solid #000;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}

textarea {
  width: 100%;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}

button {
  border: none;
  padding: 15px;
  background-color: #59b256;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.1s linear;
  font-size: 15px;
  border-radius: 3px;
}

.email-me-button {
  display: inline-block;
  font-family: var(--profile-font);
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 16px;
  border-radius: 20px;
  border: 0;
  font-size: 18px;
  width: 150px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.4);
  text-align: center;
  text-decoration: none;
  transition: transform 0.08s ease-in-out;
  background-image: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  color: black;
}

button:hover,
.email-me-button:hover {
  transform: scale(1.04);
}
button:active,
.email-me-button:active {
  transform: translateY(1.5px);
}

button:disabled {
  background-color: grey;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-bottom: -5px;
}

.submission-error-message {
  color: rgb(153, 0, 0);
}
.submission-success-message {
  color: rgb(4, 180, 63);
}

@media screen and (max-width: 480px) {
  .c-wrapper {
    flex-direction: column;
  }

  .i-left-wrapper {
    padding: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
  }
}
@media screen and (max-width: 480px) {
  .c-wrapper {
    flex-direction: column;
    padding: 0px 50px;
  }

  .c-title {
    font-size: 30px;
  }

  .c-info-item {
    margin: 20px 0px;
    width: 100%;
  }

  .c-desc {
    display: none;
  }
  form {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
  }

  input {
    width: 35%;
    height: 40px;
    margin: 10px;
    margin-left: 0px;
  }

  button {
    margin-top: 10px;
  }
}
